<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Change Password - Internet Banking System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="user_header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">
            
            <h1 class="logo me-auto me-lg-0"><a href="user_home.html">IBS<span>.</span></a></h1>

            <nav id="navbar" class="navbar order-first order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto {% if active == 'user_home' %}active{% endif %}" href="{{url_for('user_home')}}">Account</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_transaction' %}active{% endif %}" href="{{url_for('user_transaction')}}">Transaction</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_device' %}active{% endif %}" href="{{url_for('user_device')}}">Device</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_changepassword' %}active{% endif %}" href="{{url_for('user_changepassword')}}">Change Password</a></li>
                  </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <p>Hi, {{username}}</p>
            <a href="{{ url_for('logout') }}" class="get-started-btn">Logout</a>
        </div>
    </header><!-- End Header -->

    <section id="changepw" class="transfer">
        <div class="container" data-aos="fade-up">
            <br>
            <div class="section-title">
                <p>Internet Banking System</p>
                <h2>Change Password</h2>
            </div>
            <div class="change-form">
                <form id="changepw" action="{{url_for('user_changepassword')}}" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="old">Old Password:</label>
                        <input type="password" id="old" name="old" required>
                    </div>
                    <div class="form-group">
                        <label for="new">New Password:</label>
                        <input type="password" id="new" name="new" oninput="checkPassword()" required>
                    </div>
                    <div class="form-group error-message">
                        <ul>
                            <li id="length" style="color:red;">At least 8 characters</li>
                            <li id="uppercase" style="color:red;">At least one uppercase letter</li>
                            <li id="symbol" style="color:red;">At least one special character</li>
                            <li id="number" style="color:red;">At least one number</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="confirmnew">Confirm New Password:</label>
                        <input type="password" id="confirmnew" name="confirmnew" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="changePw">Change Password</button>
                    </div>
                </form>

                <br>
                
                <form id="changepw" action="{{url_for('user_change2fa')}}" method="post">
                    <div class="form-group">
                        <label for="tfa">Old Two-Factor Authentication:</label>
                        <input type="password" id="oldtfa" name="oldtfa" readonly>
                    </div>
                    <div class="form-group">
                        <label for="tfa">New Two-Factor Authentication:</label>
                        <input type="password" id="newtfa" name="newtfa" readonly>
                    </div>
                    <div class="form-group">
                        <label for="confirmnew">Confirm New Two-Factor Authentication:</label>
                        <input type="password" id="confirmtfa" name="confirmtfa" readonly>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="changePw">Change Two-Factor Authentication</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="keypad" id="keypad">
            <div class="keys">
                <div class="row">
                    <button class="key">1</button>
                    <button class="key">2</button>
                    <button class="key">3</button>
                </div>
                <div class="row">
                    <button class="key">4</button>
                    <button class="key">5</button>
                    <button class="key">6</button>
                </div>
                <div class="row">
                    <button class="key">7</button>
                    <button class="key">8</button>
                    <button class="key">9</button>
                </div>
                <div class="row">
                    <button class="delete" id="delete">&times;</button>
                    <button class="key">0</button>
                    <button class="ok" id="ok">&#10003;</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        function checkPassword() {
            var password = document.getElementById("new").value;
            var length = document.getElementById("length");
            var uppercase = document.getElementById("uppercase");
            var symbol = document.getElementById("symbol");
            var number = document.getElementById("number");

            var hasUpperCase = /[A-Z]/.test(password);
            var hasSpecialChar = /[!@#$%^&*]/.test(password);
            var hasNumber = /[0-9]/.test(password);

            if (hasUpperCase) {
                uppercase.style.color = "green";
            }
            else {
                uppercase.style.color = "red";
            }

            if (hasSpecialChar) {
                symbol.style.color = "green";
            }
            else {
                symbol.style.color = "red";
            }

            if (hasNumber) {
                number.style.color = "green";
            }
            else {
                number.style.color = "red";
            }

            if (password.length >= 8) {
                length.style.color = "green";
            }
            else {
                length.style.color = "red";
            }
        }

        function validateForm() {
            // Check if all error messages are green
            var length = document.getElementById("length");
            var uppercase = document.getElementById("uppercase");
            var symbol = document.getElementById("symbol");
            var number = document.getElementById("number");
    
            if (length.style.color === "red" || uppercase.style.color === "red" || symbol.style.color === "red" || number.style.color === "red") {
                // At least one error message is still red, prevent form submission
                alert("Please fix your password to meet the requirements.");
                return false;
            }
    
            // All error messages are green, allow form submission
            return true;
        }

        var currentInputField = null;

        // Show keypad when input field is clicked
        document.getElementById("oldtfa").addEventListener("click", function() {
            document.getElementById("keypad").style.display = "block";
            currentInputField = this;
        });

        document.getElementById("newtfa").addEventListener("click", function() {
            document.getElementById("keypad").style.display = "block";
            currentInputField = this;
        });

        document.getElementById("confirmtfa").addEventListener("click", function() {
            document.getElementById("keypad").style.display = "block";
            currentInputField = this;
        });
        
        // Handle keypad button clicks
        var buttons = document.getElementsByClassName("key");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function() {
                if (currentInputField) { // Check if an input field is selected
                    var value = this.innerHTML;
                    currentInputField.value += value; // Add the value to the currently selected input field
                }
            });
        };
        
        // Handle Delete button click
        var deleteButton = document.getElementById('delete');

        // Add click event listener to the delete button
        deleteButton.addEventListener('click', function() {
            if (currentInputField && currentInputField.value.length > 0) { // Check if an input field is selected and it has some value
                // Remove the last character from the input value
                var currentValue = currentInputField.value;
                currentInputField.value = currentValue.slice(0, -1);
            }
        });
        
        // Handle OK button click
        var okButton = document.getElementById('ok');
        okButton.addEventListener('click', function() {
            document.getElementById("keypad").style.display = "none";
        });
    </script>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-lg-3 col-md-6 justify-content-center">
                  <div class="footer-info">
                      <h3>IBS<span>.</span></h3>
                      <p>
                          Asia Pacific University <br>
                          KL 57000, Malaysia<br><br>
                          <strong>Phone:</strong> +60 12-758 0309<br>
                          <strong>Email:</strong> tp056072@mail.apu.edu.com<br>
                      </p>
                  </div>
                </div>
            </div>
          </div>
      
          <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>IBS</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>