<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>New Transfer - Internet Banking System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="user_header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="user_home.html">IBS<span>.</span></a></h1>

            <nav id="navbar" class="navbar order-first order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto {% if active == 'user_home' %}active{% endif %}" href="{{url_for('user_home')}}">Account</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_transaction' %}active{% endif %}" href="{{url_for('user_transaction')}}">Transaction</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_device' %}active{% endif %}" href="{{url_for('user_device')}}">Device</a></li>
                    <li><a class="nav-link scrollto {% if active == 'user_changepassword' %}active{% endif %}" href="{{url_for('user_changepassword')}}">Change Password</a></li>
                  </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <p>Hi, {{username}}</p>
            <a href="{{ url_for('logout') }}" class="get-started-btn">Logout</a>
        </div>
    </header><!-- End Header -->

    <section id="transfer" class="transfer">
        <div class="container" data-aos="fade-up">
            <br>
            <div class="section-title">
                <p>Internet Banking System</p>
                <h2>Transfer</h2>
            </div>
            <div class="transfer-form">
                <form id="transfer" action="{{url_for('user_transfer')}}" method="post">
                    <div class="form-group">
                        <label for="from_account">From Account:</label>
                        <input type="text" id="from_account" name="from_account" value="{{acc_no}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="to_account">To Account:</label>
                        <select id="to_account" name="to_account" required>
                            <option value="" selected disabled>Select an option</option>
                            <option value="favorite">Transfer to Favorite Account</option>
                            <option value="new">Add New Account</option>
                        </select>
                    </div>
                    <div id="favorite_account" style="display: none;">
                        <div class="form-group">
                            <label for="favorite">Select Favorite Account:</label>
                            <select id="favorite" name="favorite" onchange="setTextField()">
                                <option value="" selected disabled>Select an account</option>
                                {% for record in favoacc %} 
                                <option value="{{record[3]}}" data-firstname="{{record[0]}}" data-lastname="{{record[1]}}" data-accno="{{record[2]}}">{{record[3]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="favorite_name" style="display: none;">
                        <div class="form-group">
                            <label for="favorite_name">Beneficiary Name:</label>
                            <input type="text" id="name" name="name" readonly>
                        </div>
                    </div>
                    <div id="favorite_accno" style="display: none;">
                        <div class="form-group">
                            <label for="favorite_accno">Beneficiary Account Number:</label>
                            <input type="text" id="accno" name="accno" readonly>
                        </div>
                    </div>
                    <div id="new_account" style="display: none;">
                        <div class="form-group">
                            <label for="new_account">New Account Number:</label>
                            <input type="text" id="new_account" name="new_account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" name="amount" min="0.01" step=0.01 required>
                    </div>
                    <div class="form-group">
                        <label for="reference">Receipient Reference:</label>
                        <input type="text" id="reference" name="reference" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="nextButton">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        function changeAccountSelection(){
            var favoriteAccount = document.getElementById('favorite_account');
            var favoriteName = document.getElementById('favorite_name');
            var favoriteNo = document.getElementById('favorite_accno');
            var newAccount = document.getElementById('new_account');

            if (this.value === 'favorite') {
                favoriteAccount.style.display = 'block';
                favoriteName.style.display = 'block';
                favoriteNo.style.display = 'block';
                newAccount.style.display = 'none';
            } else if (this.value === 'new') {
                favoriteAccount.style.display = 'none';
                favoriteName.style.display = 'none';
                favoriteNo.style.display = 'none';
                newAccount.style.display = 'block';
            } else {
                favoriteAccount.style.display = 'none';
                favoriteName.style.display = 'none';
                favoriteNo.style.display = 'none';
                newAccount.style.display = 'none';
            }
        }

        document.getElementById('to_account').addEventListener('change', changeAccountSelection);

        function setTextField() {
            var favorite_nickname = document.getElementById("favorite")
            var option = favorite_nickname.options[favorite_nickname.selectedIndex];

            document.getElementById("name").value = option.dataset.firstname + ' ' + option.dataset.lastname;
            document.getElementById("accno").value = option.dataset.accno;
        }
    </script>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="col-lg-3 col-md-6 justify-content-center">
                  <div class="footer-info">
                      <h3>IBS<span>.</span></h3>
                      <p>
                          Asia Pacific University <br>
                          KL 57000, Malaysia<br><br>
                          <strong>Phone:</strong> +60 12-758 0309<br>
                          <strong>Email:</strong> tp056072@mail.apu.edu.com<br>
                      </p>
                  </div>
                </div>
            </div>
          </div>
      
          <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>IBS</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>